<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="com.wwr.clock"
    android:versionCode="15"
    android:versionName="@string/version" >
    
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />
    
    <!-- 讯飞语音的权限 -->
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->  	
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    
     
    <!-- 定位权限 -->
    <!-- 这个权限用于进行网络定位 -->

    <!-- 这个权限用于访问GPS定位
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission> -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>-->
    
    
    <!-- 分享的权限设置 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" ></uses-permission>

    <!-- 蓝牙分享所需的权限
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> -->

    <!-- 安装程序的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" >
    </uses-permission>
    <!-- 这个权限用于进行网络定位 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>-->
    
    <!-- 这个权限用于访问GPS定位 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->

    <!-- 这个权限用于进行网络定位 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>-->
    
    <!-- 这个权限用于访问GPS定位
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission> -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <!-- 用于读取手机当前的状态 -->
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <!-- 访问网络，网络定位需要上网 -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>

    <application
        android:name="com.mpw.constant.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        tools:replace="android:name,android:icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wwr.clock.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wwr.clock.TempActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wwr.clock.SplashActivity"
            android:screenOrientation="portrait" >

            <!-- 启动的首页 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  -->
        <activity
            android:name="ControlPCMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wwr.clock.DownAcitity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <activity
            android:name="com.wwr.locationselect.PagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.wwr.clock.B"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.wwr.clock.A"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="SelectTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ClockTimeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="Pager"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="WeatherActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 分享的Activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1105553390" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        
           <!-- 定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 定位的key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="FythDeAG8xYbl3Xyn0bWepVMFDMtaR7g" />
    </application>

</manifest>